body{
    background-color: black;
}

.container{
    background-color: yellow;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: blue;
    

}

.datos{
    text-align: center;
    color: white;
}

